

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Form Lightbox
06. Approval
07. Loan why-us
08. Loan why-us Lightboxes
09. Amount Based
10. Description 1
11. Description 2
12. Questions
13. About
14. Testimonials
15. Contact
16. Footer
17. Back To Top Button
18. Terms Conditions And Privacy Policy
19. Media Queries
******************************************/

/*****************************************
Colors:
- Text white: #f9f9fc
- Text lighter purple: #864b82
- Light purple: #7a2874
- Dark purple: #70256b
- Pink: #e23963
- Light green: #97be5d
- Dark green: #8baf56
******************************************/


/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #f9f9fc; 
	font: 400 0.9375rem/1.5rem "Open Sans", sans-serif;
}

.p-large {
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 3rem;
}

h1 {
	font: 700 3rem/3.5rem "Open Sans", sans-serif;
	letter-spacing: -1.25px;
}

.h1-large {
	font: 700 3rem/3.25rem "Open Sans", sans-serif;
	letter-spacing: -1.25px;
}

h2 {
	margin-bottom: 1rem;
	font: 700 2.5rem/2.75rem "Open Sans", sans-serif;
	letter-spacing: -1px;
}

h3 {
	font: 700 2rem/2.5rem "Open Sans", sans-serif;
}

h4 {
	font: 700 1.6rem/3.75rem "Open Sans", sans-serif;
}
h5 {
	font: 700 1.125rem/1.5rem "Open Sans", sans-serif;
}

a {
	color: #f9f9fc;
}

a:hover {
	color: #f9f9fc;
	text-decoration: none;
}

.underline,
.underline:hover {
	text-decoration: underline;
}

.testimonial-text {
	font-style: italic;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.25rem 2.25rem 1.25rem 2.25rem;
	border: 1px solid #e23963;
	border-radius: 2rem;
	background-color: #e23963;
	color: #fff;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #e23963;
	background-color: transparent;
	color: #e23963;
}

.form-group {
	position: relative;
	margin-bottom: 1.125rem;
}

.label-control {
	position: absolute;
	top: 0.75rem;
	left: 1.875rem;
	color: #864b82;
	opacity: 0.8;
	font: 400 0.9375rem/1.25rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.75rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-textarea:focus + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 0rem;
	padding-left: 1.75rem;
	border: 1px solid #f9f9fc;
	border-radius: 2rem;
	background-color: #f9f9fc;
	color: #864b82;
	font: 400 0.9375rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1rem;
		padding-bottom: 0.5rem;
	}
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.75rem;
	border: 1px solid #f9f9fc;
	border-radius: 1.5rem;
	background-color: #f9f9fc;
	color: #864b82;
	font: 400 0.9375rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-textarea:focus {
	outline: none; /* Removes blue border on focus */
	box-shadow: 0 0.5rem 0.5rem -0.375rem #44143c;
}

.form-control-input:hover,
.form-control-textarea:hover {
	box-shadow: 0 0.5rem 0.5rem -0.375rem #44143c;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 2.75rem;
	border: 1px solid #e23963;
	border-radius: 1.5rem;
	background-color: #e23963;
	color: #fff;
	font: 600 0.875rem/1.75rem "Open Sans", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #e23963;
}

/* Form Success And Error Message Formatting */
#cmsgSubmit.h3.text-center {
	margin-bottom: 0;
	font: 400 1.125rem/1rem "Open Sans", sans-serif;
}

#cmsgSubmit.h3.text-center {
	color: #864b82;
}

#cmsgSubmit.h3.text-center {
	display: block;
}

.help-block.with-errors {
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.125rem
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */

/* animate in */

/* animate out */

/* dark overlay, start state */

/* animate in */
/* animate out */
/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
/* end of fade animation for image slider - magnific popup */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #7a2874;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	background-color: #7a2874;
	font: 600 0.875rem/2rem "Open Sans", sans-serif;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 5.5rem;
	height: 2.1875rem;
	-webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.25rem 0.625rem 0.25rem 0.625rem;
	color: rgba(255, 255, 255, 0.8);
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover {
	color: rgba(255, 255, 255, 1);
}

/* Dropdown Menu */
/* end of dropdown menu */

.navbar-custom .navbar-toggler {
	border-color: #f9f9fc;
	border-radius: 0.5rem;
}

.navbar-dark .navbar-toggler-icon {
	width: 1.5rem;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 239, 239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/*********************/
/*    04. Header     */
/*********************/
.header {
    position: relative;
    width: 100%;
}

.header .h1-large {
	margin-bottom: 1.25rem;
}

.header{
	/* height: 100%; */
	/* padding-top: 9rem; */
	padding-bottom: 9rem;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../images/homr-bg.webp') center center no-repeat;
	background-size: cover;	
	text-align: center;
}
.header td {
	text-align:left;
}

.header .swiper-slide.second .p-large {
	margin-bottom: 1.5rem;
}


/*****************************/
/*     05. Form Lightbox     */
/*****************************/


/************************/
/*     06. Approval     */
/************************/
.accordion {
	/* padding-top: 5rem; */
	padding-bottom: 3rem;
	background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url('../images/app-bg.webp') center center no-repeat;
	background-size: cover; 
}

.accordion .item {
	margin-bottom: 2rem;
}

.accordion a[aria-expanded="true"] .circle-numbering, .pills .circle-numbering{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.75rem;
	border: 1px solid #97be5d;
	border-radius: 50%;
	background-color: #97be5d;
	color: #f9f9fc;
	font: 700 1rem/2.375rem "Open Sans", sans-serif;
	text-align: center;
	vertical-align: top;
}

.accordion a[aria-expanded="false"] .circle-numbering {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: 0.75rem;
	border: 1px solid #97be5d;
	border-radius: 50%;
	background-color: #97be5d;
	color: #f9f9fc;
	font: 700 1rem/2.375rem "Open Sans", sans-serif;
	text-align: center;
	vertical-align: top;
}

.accordion .accordion-title {
	display: inline-block;
	width: 78%;
	margin-top: 0.375rem;
	margin-bottom: 0.25rem;
	font: 700 1.25rem/1.75rem "Open Sans", sans-serif;
}

.accordion .accordion-body {
	margin-left: 3.25rem;
	margin-bottom: 0;
}


/****************************/
/*     07. Loan why-us     */
/****************************/
.cards-1 {
	padding-top: 5rem;
	padding-bottom: 0.5rem;
	color: #864b82;
}

.cards-1 p {
	color: #864b82;
}

.cards-1 .card {
	margin-right: auto;
	margin-left: auto;
	border: none;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.cards-1 .card-title {
	margin-bottom: 0.375rem;
}

.cards-1 .card .card-image {
	width: 6.875rem;
	height: 6.25rem;
	margin-right: auto;
	margin-bottom: 0.5rem;
	margin-left: auto;
}

.cards-1 .card-body {
	padding-right: 1rem;
	padding-left: 1rem;
}

.cards-1 .card-body p {
	margin-bottom: 1.5rem;
}


/**************************************/
/*     08. Loan Options Lightboxes    */
/**************************************/


/****************************/
/*     09. Amount Based     */
/****************************/


/*****************************/
/*     10. Description 1     */
/*****************************/
.slider-1 {
	padding-top: 6rem;
	padding-bottom: 7rem;
	margin-bottom: -1px;
	background: url('../images/curved-hills-top-background.webp') center bottom no-repeat;
	background-size: cover;
}

.slider-1 h3 {
	margin-bottom: 1.5rem;
}

.icon-cell {
	vertical-align: top;
}

.icon-cell .fas {
	margin-right: 0.5rem;
	color: #97be5d;
	font-size: 1.25rem;
	vertical-align: -8%;
}

table td {
	padding-bottom: 0.5rem;
}


/*****************************/
/*     11. Description 2     */
/*****************************/
.pills {
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: #70256b;
	color: #f9f9fc;
}

.pills .icon-cell {
	vertical-align: top;
}

.pills table td {
	padding-bottom: 1rem;
}


/*************************/
/*     12. Questions     */
/*************************/
.basic-1 {
	padding-top: 9rem;
	padding-bottom: 5.5rem;
	background: url('../images/curved-hills-bottom-background.webp') center top no-repeat;
	background-size: cover;
}

.basic-1 h3 {
	margin-bottom: 1rem;
}

.basic-1 .p-heading {
	margin-bottom: 1rem;
}

.basic-1 .btn-solid-reg {
	margin-top: 0.5rem;
}

.basic-1 .btn-solid-reg .fa-phone {
	margin-right: 0.375rem;
	font-size: 0.875rem;
	line-height: 0;
}

.pad-top {
	padding-top: 4rem;
}
/*********************/
/*     13. About     */
/*********************/


/****************************/
/*     14. Testimonials     */
/****************************/
.slider-2 {
	padding-top: 5rem;
	padding-bottom: 5.5rem;
	background-color: #8baf56;
}

.slider-2 h3 {
	margin-bottom: 3rem;
}

.slider-2 .card {
	border: none;
	background-color: transparent;
}

.slider-2 .testimonial-text {
	margin-bottom: 0.5rem;
}

.slider-2 .swiper-container {
	padding-bottom: 0.25rem;
}

.slider-2 .swiper-pagination {
	bottom: -0.25rem;
}
.testi-icon i {
	margin-top: 4.25rem;
    margin-right: 1rem;
    font-size: 2.625rem;
	transform: rotate(180deg);
	
}


/***********************/
/*     15. Contact     */
/***********************/
.form {
	padding-top: 5rem;
	padding-bottom: 5rem;
	color: #864b82;
}

.form p,
.form a {
	color: #864b82;
}

.form a:hover {
	color: #864b82;
}

.form .map-responsive {
	position: relative;
	overflow: hidden;
	height: 0;
	margin-right: 1rem;
	margin-bottom: 3rem;
	padding-bottom: 64%;
	border-radius: 1.5rem;
}

.form .map-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none; 
}

.form .form-control-input:focus,
.form .form-control-textarea:focus {
	outline: none; /* Removes blue border on focus */
	box-shadow: 0 0.5rem 0.5rem -0.375rem #d8c1d4;
}

.form .form-control-input:hover,
.form .form-control-textarea:hover {
	box-shadow: 0 0.5rem 0.5rem -0.375rem #d8c1d4;
}

.form .help-block.with-errors {
	color: #864b82;
}

.form .form-control-submit-button:hover {
	color: #e23963;
}


/**********************/
/*     16. Footer     */
/**********************/
.footer {
	background-color: #7a2874;
}

.footer p,
.footer a {
	color: #f9f9fc;
}

/* Default Social Icon */
/* end of default social icon */

.footer .copyright {
	padding-top: 1.5rem;
	padding-bottom: 0.5rem;
	background-color: #70256b;
	text-align: center;
}

.footer .copyright p {
	opacity: 0.8;
}

.footer .copyright p,
.footer .copyright p a {
	color: #f9f9fc;
	font: 400 0.875rem/1.5rem "Open Sans", sans-serif;
}


/**********************************/
/*     17. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #e23963 url("../images/up-arrow.webp") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #dd2956; 
}


/***************************************************/
/*     18. sticky phone    */
/***************************************************/
.sticky-phone {
	display: none;
	background-color:#fb73b3;
	font-size: 2rem;
	position: sticky;
	bottom: 0;
	z-index: 999;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:focus{
	outline: none;
}

/*****************************/
/*     19. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	

    .navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        background-color: #7a2874;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-image img {
        width: 5.5rem;
		height: 2.1875rem;
	}
	
	
	/* Navigation */
	.navbar-custom {
        padding: 2.125rem 1.5rem 2.125rem 1.5rem;
        background-color: transparent;
        transition: all 0.2s;
    }
	
	.navbar-custom .navbar-brand.logo-image img {
        width: 6.25rem;
        height: 2.5rem;
	}
    
	.navbar-custom .navbar-nav {
		margin-top: 1px;
	}
	/* end of navigation */

	.header .swiper-slide.second {
		padding-top: 0rem;
		padding-bottom: 11rem;
		text-align: left;
	}
	/* end of header */

	
	/* Form Lightbox */
	/* end of form lightbox */


	/* Approval */
	.accordion #detailsAccordion {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.accordion .accordion-title {
		width: 90%;
	}
	/* end of approval */


	/* Amount Based */
	/* end of amount based */


	/* Description 1 */
	.slider-1 {
		padding-bottom: 9rem;
	}
	/* end of description 1 */


	/* Description 2 */
	/* end of description 2 */


	/* Footer */
	/* end of footer */


	/* Terms Conditions And Privacy Policy */
	/* end of terms conditions and privacy policy */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.p-heading {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}

	.h1-large {
		font: 700 2.5rem/2.375rem "Open Sans", sans-serif;
	}
	/* end of general styles */


	/* Header */
	.header {
		height: 100%;
		min-height: 55rem;
	}

	.header .swiper-container {
		height: 100vh;
		min-height: 55rem;
	}

	.header .swiper-slide {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.header{
		padding-top: 0rem;
		 padding-bottom: 1rem;
	}
	/* end of header */


	/* Approval */
	.accordion #detailsAccordion {
		width: 65%;
	}
	/* end of approval */


	/* Loan Options */
	.cards-1 .card {
		width: auto;
		margin-bottom: 3rem;
	}
	/* end of loan options */


	/* Loan Options Lightboxes */
	/* end of loan options lightboxes */


	/* Description 1 */

	.slider-1 .text-container {
		margin-left: 1rem;
	}
	/* end of description 1 */


	/* Description 2 */
	/* end of description 2 */


	/* Contact */
	.form .map-responsive {
		margin-bottom: 0;
		padding-bottom: 73%;
	}

	.form .form-control-textarea {
		height: 6.5rem; 
	}
	/* end of contact */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.p-heading {
		width: 60%;
	}
	/* end of general styles */


	/* Header */
	.header {
		background-position: bottom;
	}

	.header .text-container {
		margin-top: 0.5rem;
		width: 92%;
		margin-left: 1rem;
	}
	/* end of header */


	/* Approval */
	.accordion {
		padding-bottom: 3.5rem;
	}

	.accordion .accordion-title {
		width: 91%;
	}

	.accordion #detailsAccordion {
		width: 55%;
	}
	/* end of approval */


	/* Description 1 */
	.slider-1 {
		padding-bottom: 8rem;
	}

	.slider-1 h3 {
		margin-top: 1.5rem;
	}
	/* end of description 1 */


	/* Description 2 */
	.pills {
		padding-top: 2rem;
	}
	/* end of description 2 */


	/* Questions */
	.basic-1 {
		padding-top: 10rem;
	}
	/* end of questions */


	/* Contact */

	.form .form-control-textarea {
		height: 10rem; 
	}
	/* end of contact */


	/* Footer */
	/* end of footer */


	/* Terms & Conditions And Privacy Policy */
	/* end of terms & conditions and privacy policy */
}
/* end of min-width width 1200px */

/* Min-width width 1200px */
@media (min-width: 1500px) {
	.accordion {
		background-position: 50% 25% !important;
}
}
/* end of min-width width 1200px */


@media  (max-width:992px) {

.header .swiper-slide.second {
    padding-top: 7rem;


}
}

@media  (max-width:766.98px) {
	.header{
		padding-top: 5rem;
		padding-bottom: 10rem;
	}
	.h1-large {
		font: 700 2rem/3.25rem "Open Sans", sans-serif;
	
	}

.header .swiper-slide.second {
    padding-top: 0rem;
}
.sticky-phone {
	display: block;
}
}